<p>
  <strong>URL:</strong>
  <%= @url_shortener.url %>
</p>
 
<p>
  <strong>short URL:</strong>
  <%= @url_shortener.short %>
</p>

<%= link_to 'Edit', edit_url_shortener_path(@url_shortener) %>
<%= link_to 'Back', url_shorteners_path %>